<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./chat.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen Dots:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400&display=swap" />
</head>

<body>
    <main class="main">
        <header class="nav-bar">
            <div class="nav-bar-logo">
                <img class="nav-bar-logo-icon" loading="eager" alt=""
                    src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo.png" />

                <div class="nav-bar-logo-text">Feedback.AI</div>
            </div>
            <button class="link">
                <div class="sign-out">SIGN Out</div>
            </button>
        </header>
        <section class="app-div-outer">
            <div class="background-after-effect"></div>
            <div class="app-div-inner">
                <div class="chat-list">
                    <div class="selected-list-item">
                        <img class="list-item-img" loading="eager" alt=""
                            src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/LeagueOfLegends_ListIcon.png" />
                    </div>
                    <div class="unselected-list-item">
                        <img class="list-item-img" loading="eager" alt=""
                            src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/Valorant_ListIcon.png" />
                            <div class="unselected-list-item"></div>
                    </div>
                    <div class="unselected-list-item">
                        <img class="list-item-img" loading="eager" alt=""
                            src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/TeamFightTactics_ListIcon.png" />
                    </div>
                    <div class="unselected-list-item">
                        <img class="list-item-img" loading="eager" alt=""
                            src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/LegendsOfRuneterra_ListIcon.png" />
                    </div>
                    <div class="unselected-list-item">
                        <img class="list-item-img" loading="eager" alt=""
                            src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/LeagueOfLegends_WildRift_ListIcon.png" />
                    </div>
                </div>
                <div class="active-chat">
                    <div class="chat-scroll">
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/User.png" />

                            <div class="message-text">
                                I hate the new gun!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to
                                suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to
                                suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to
                                suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to suck!Sucks to
                                suck!Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                        <div class="chat-message-box">
                            <img class="message-persona-image" alt=""
                                src="/Users/elanbibas/Feedback-AI/feedback2-5-2024/public/FeedbackAI_Logo-red.png" />
                            <div class="message-text">
                                Sucks to suck!
                            </div>
                        </div>
                    </div>
                    <footer class="interaction-bar">
                        <form class="interaction-bar-form">
                            <input type="text" class="message-input" id="message-input" name="chat-box-message"
                                placeholder="Complain to me" autocomplete="off">
                            <button type="submit" class="msger-send-btn">
                                <img class="msg-send-icon" alt=""
                                    src="https://img.icons8.com/material-rounded/48/FFFFFF/sent.png" />
                            </button>
                        </form>
                    </footer>

                </div>
            </div>
        </section>
    </main>
</body>

</html>